<ul>
    {{#each users as |user|}}
    <li>
        <p>user id : {{user.id}} </p>
        <p>username : {{user.username}} </p>
        <p>user email : {{user.email}} </p>
    </li>

    {{/each}}
</ul>